body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background: #333;
}

.header-container{
    text-align: center;
    margin-top: 10%;
    font-weight: bold;
}

.header-container .title{
    font-size: 5rem;
    color: white;
}

.header-container a{
    background: #fff;
    color: #333;
    padding: 20px 50px;
    text-decoration: none;
    font-weight: inherit;
    border-radius: 30px;
    transition: background 0.3s ease;
}

.header-container a:hover{
    background: #ccc;
}


